@import url('//db.onlinewebfonts.com/c/d0a687dd2a0803f486cde808245bd3c5?family=Press+Gothic');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'Press Gothic';
    src: url('../fonts/PressGothic.otf') format('truetype');
}


body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.TLOU1Gradiente {
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3864) 58.7%, rgba(255, 255, 255, 0) 95.31%);
}

.TLOU1 {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: -2;
    height: 100%;
    background-size: 122%;
    background-position: 0% 40%;
    background-image: url('./assets/wYq1UsVEyQp6dT6cS1omgKiJ.webp');
}

.container {
    height: 100vh;
    width: 90%;
    margin-left: 5%;
}

#serietextoInfinito {
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
}

/* Menu Flutuante Jogos */
#menuflutuanteJogos {
    display: none;
    position: fixed;
    width: 14%;
    height: 15%;
    background-color: #FDC706;
    left: 50.5%;
    top: 8%;
    border-radius: 6px;
    flex-direction: column;
}


@media (max-width: 1919px) {
    #menuflutuanteJogos {
        width: 15%;
        height: 20%;
    }
}


.menuItens {
    display: flex;
    color: white;
    font-size: 1vmax;
    font-weight: 500;
    margin-top: 6%;
    margin-left: 5%;
    font-family: 'Space Grotesk', sans-serif;
}

.menuTLOU1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 33%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    border-bottom: 3px solid white;
    cursor: pointer;
}

.menuTLOU1:hover {
    background-color: #f7b500;
}

#menuTLOU1Texto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOU1Texto {
        font-size: 1vmax;
    }
}

.menuTLOU2 {
    display: flex;
    width: 100%;
    height: 33%;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    border-bottom: 3px solid white;
    cursor: pointer;
}

.menuTLOU2:hover {
    background-color: #f7b500;
}

#menuTLOU2Texto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOU2Texto {
        font-size: 1vmax;
    }
}

.menuLinha {
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2%;
    top: 35%;
}


.menuLinha2 {
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2%;
    top: 70%;
}

.menuTLOULB {
    display: flex;
    align-items: center;
    width: 100%;
    height: 33%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
}

.menuTLOULB:hover {
    background-color: #f7b500;
}

#menuTLOULBTexto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOULBTexto {
        font-size: 1vmax;
    }
}



/* TITULO */
.tituloJogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 100%;
    align-items: center;
}

#numeroJogo {
    display: flex;
    color: #FDC706;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4vmax;
    width: 100%;
    margin-top: 25%;
    justify-content: center;
}

#nomeJogo {
    display: flex;
    color: white;
    width: 100%;
    font-family: "Press Gothic";
    font-size: 8vmax;
    margin-top: -1.5%;
    justify-content: center;
}

#expandirIcon {
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
    font-size: 4vmax;
}

#irCima {
    display: none;
    position: fixed;
    z-index: 2;
    width: 3%;
    height: 6%;
    top: 85%;
    left: 94%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #7A6E44;
    cursor: pointer;
}

#irCimaIcon {
    color: white;
    font-size: 1.7vmax;
}










/* HISTORIA */

.historiaContainer {
    display: flex;
    margin-top: 5%;
    width: 90vw;
    height: 55vh;
}

.blocoHistoria {
    display: flex;
    position: absolute;
    border-radius: 20px;
    width: 27.5vw;
    height: 45vh;
    background-size: cover;
    background-position: 35%;
    background-image: url(./assets/imagick_convert.php.webp);
}


#blocoHistoriaTexto {
    display: flex;
    margin-left: 35%;
    margin-top: 1%;
    width: 100%;
    font-family: 'Space Grotesk';
    letter-spacing: -1px;
    flex-direction: column;
}

#tituloHistoria {
    display: flex;
    color: black;
    font-size: 1.3vmax;
    font-family: 'Sora', sans-serif;
    font-weight: 800;
}

#conteudoHistoria1 {
    display: flex;
    color: #706D6D;
    font-size: 1.1vmax;
    width: 100%;
    margin-top: 1%;
    font-weight: 300;
    line-height: 33px;
}

#conteudoHistoria2 {
    display: flex;
    color: #706D6D;
    font-size: 1.1vmax;
    width: 100%;
    margin-top: 1%;
    line-height: 33px;
    font-weight: 300;
}

/* Parte de Baixo Container*/

.parteBaixoHistoria {
    display: flex;
    width: 100%;
    height: 30vh;
    font-family: 'Space Grotesk';
}

/* Conheça Mais */
.conhecaMais {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 100%;

}

#tituloConheca {
    display: flex;
    font-size: 1.2vmax;
    font-weight: 800;
    font-family: 'Sora', sans-serif;
}

#ellieConheca {
    display: flex;
    background-color: #11141A;
    margin-top: 2%;
    border-radius: 5px;
    height: 25%;
    width: 100%;
}

#ellieIcon {
    display: flex;
    background-image: url(./assets/ellieicon.jpg);
    background-size: cover;
    height: 7.5vh;
    width: 3.5vw;
    border-radius: 5px;
}

#ellieTexto {
    display: flex;
    color: #ffffff;
    font-size: 1.2vmax;
    font-weight: 900;
    align-items: center;
    margin-left: 5%;
}

#joelConheca {
    display: flex;
    background-color: #37372F;
    margin-top: 5.2%;
    border-radius: 5px;
    height: 25%;
    width: 100%;

}

#joelIcon {
    display: flex;
    background-image: url(./assets/joelicon.jpg);
    background-size: cover;
    height: 7.5vh;
    width: 3.5vw;
    border-radius: 5px;
}

#joelTexto {
    display: flex;
    color: #ffffff;
    font-size: 1.2vmax;
    font-weight: 900;
    align-items: center;
    margin-left: 5%;
}

/*Cordyceps*/

.conhecaMaisCordyceps {
    display: flex;
    flex-direction: column;
    width: 68%;
    height: 100%;
    margin-left: 4.5%;
}

#tituloCordyceps {
    display: flex;
    font-size: 1.2vmax;
    font-weight: 800;
    font-family: 'Sora', sans-serif;
}

#cordycepsCor {
    color: #FDC706;
    margin-left: 0.6%;
}

#cordycepsGradiente {
    display: flex;
    background: linear-gradient(180deg, rgba(214, 155, 14, 0.29) 32.72%, rgba(51, 69, 49, 0.26) 74.79%);
    position: absolute;
    margin-top: 2%;
    border-radius: 10px;
    width: 58.5%;
    height: 18.5%;
}

#cordycepsConhece {
    display: flex;
    position: absolute;
    z-index: -1;
    margin-top: 2%;
    width: 58.5%;
    height: 18.5%;
    background-image: url(./assets/The-Last-of-Us.webp);
    border-radius: 10px;
    background-position: 0% 35%;
    background-size: cover;
}


/* CRIADORA DO GAME */

.criadora {
    display: flex;
    margin-bottom: 5%;
    width: 100%;
    height: 170.5vh;
    font-family: 'Space Grotesk';
    flex-direction: column;
    margin-top: 6%;
}

#criadoraTitulo {
    display: flex;
    font-weight: 800;
    font-family: 'Sora', sans-serif;
    font-size: 1.2vmax;
    margin-top: 1%;
}

#criadoraConteudo {
    display: flex;
    color: #706D6D;
    font-size: 1.1vmax;
    margin-top: 1%;
    font-weight: 300;
    line-height: 33px;
    width: 65%;
}

#criadoraImagem {
    display: flex;
    position: absolute;
    border-radius: 20px;
    width: 27.5vw;
    height: 45vh;
    margin-left: 62.5%;
    background-size: 100%;
    background-position: 50%;
    background-color: black;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/naughtydoglogo.png);
}

/* CARROSEL DE PERSONAGENS */
.personagemContainer {
    position: relative;
    width: 100%;
    margin-top: 90%;
}

@media (max-height: 700px) {
    .personagemContainer {
        margin-top: 85%;
    }
}



.personagens {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
}

.slide {
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.slide.ativa {
    display: flex;
}

.ellieGradiente {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: linear-gradient(180deg, #11141A 7.11%, rgba(17, 20, 26, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.ellieImagem {
    display: flex;
    position: absolute;
    z-index: -2;
    width: 100%;
    background-position: 50% 40%;
    height: 100%;
    background-size: cover;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-image: url('./assets/the-last-of-us-part-1-remake-ellie-hd-wallpaper-uhdpaper.com-323@1@h.jpg');
}

.ellieTipo {
    display: flex;
    width: 50%;
    height: 15%;
    margin-top: 15%;
    background: linear-gradient(89.96deg, rgba(6, 31, 253, 0.1675) 18.83%, rgba(6, 208, 253, 0) 84.16%);
    justify-content: center;
    flex-direction: column;

}

#ellieTitulo {
    display: flex;
    color: #4883E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 8%;
    font-size: 1vmax;

}

#ellieTexto2 {
    display: flex;
    color: white;
    font-family: "Press Gothic";
    font-weight: 100;
    font-size: 4vmax;
    height: 60%;
    margin-left: 8%;
}

.ellieDescricao {
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
    margin-top: 1%;
    font-size: 1.1vmax;
    margin-left: 4%;
    width: 41%;
    flex-direction: column;
}

#descricao2 {
    margin-top: 2%;
}


.ellieflechaProximo {
    display: flex;
    color: white;
    position: absolute;
    margin-top: 25%;
    width: 100%;
    margin-left: -5%;
    justify-content: flex-end;
}

#personagemProximo {
    display: flex;
    font-size: 3vmax;
    margin-right: 0%;
    font-weight: 100;
    cursor: pointer;
}


.joelGradiente {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: linear-gradient(180deg, rgba(79, 70, 37, 0.26) 7.11%, rgba(26, 25, 17, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.joelImagem {
    display: flex;
    position: absolute;
    z-index: -2;
    width: 100%;
    background-position: 35% 10%;
    height: 100%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-image: url('./assets/5458dbb0ac20f48a59f8fc34cecf4e61.jpg');
}

.joelTipo {
    display: flex;
    width: 50%;
    height: 15%;
    margin-top: 15%;
    background: linear-gradient(89.96deg, rgba(210, 189, 75, 0.25) 18.83%, rgba(253, 199, 6, 0) 84.16%);
    justify-content: center;
    flex-direction: column;

}

#joelTitulo {
    display: flex;
    color: #E3B848;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1vmax;
    margin-left: 13%;
}

#joelTexto2 {
    display: flex;
    color: white;
    font-family: "Press Gothic";
    font-size: 4vmax;
    font-weight: 100;
    margin-left: 13%;
    height: 60%;
}

.joelDescricao {
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
    margin-top: 1%;
    font-size: 1.1vmax;
    width: 41%;
    margin-left: 6.5%;
    flex-direction: column;
}

#descricao2 {
    margin-top: 2%;
}


.joelFlecha {
    display: flex;
    color: white;
    position: absolute;
    margin-top: 25%;
    width: 100%;
    margin-left: -5%;
    justify-content: flex-end;
}

#personagemAnterior {
    display: flex;
    font-size: 3vmax;
    margin-left: 7%;
    margin-right: auto;
    font-weight: 100;
    transform: rotate(-180deg);
    cursor: pointer;
}


/* VOCE SABIA */
.vocesabia {
    display: flex;
    width: 100%;
    height: 60%;
}

#vocesabiaTitulo {
    display: flex;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25vmax;
    line-height: 20px;
    font-style: normal;
    margin-top: 8%;
}

.textos {
    display: flex;
    flex-direction: column;
    width: 50%;

}

#vocesabiaTexto {
    display: flex;
    color: #706D6D;
    font-size: 1.1vmax;
    margin-top: 3%;
    font-weight: 300;
    line-height: 28px;
    width: 100%;
    font-family: 'Space Grotesk';
}

#vocesabiaTexto2 {
    display: flex;
    color: #706D6D;
    font-size: 1.1vmax;
    font-weight: 300;
    line-height: 28px;
    width: 100%;
    font-family: 'Space Grotesk';
}

.blocosVeja {
    display: flex;
    width: 50%;
    position: relative;
    height: 90%;
    flex-direction: column;
}

#vejaTitulo {
    display: flex;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25vmax;
    line-height: 20px;
    font-style: normal;
    margin-top: 8%;
    margin-left: 20%;
}

#vejaTLOU2Gradiente {
    display: flex;
    background: linear-gradient(175.61deg, rgba(43, 51, 20, 0.377) 26.22%, rgba(43, 37, 32, 0.58) 56.98%);
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    width: 80%;
    height: 25%;
    margin-left: 20%;
    top: 22%;

    color: white;
    font-family: 'Space Grotesk';
    align-items: center;
    justify-content: center;
    font-size: 1.3vmax;
    font-weight: 700;

}

#vejaTLOU2Imagem {
    display: flex;
    border-radius: 10px;
    z-index: -2;
    position: absolute;
    width: 80%;
    height: 25%;
    background-size: cover;
    background-position: 10% 55%;
    margin-left: 20%;
    top: 22%;
    background-image: url(./assets/thumb-1920-1065466.webp);
}

#vejaTLOULBGradiente {
    display: flex;
    background: linear-gradient(180deg, rgba(26, 46, 80, 0.47) 32.72%, rgba(23, 29, 36, 0.17) 74.79%);
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    width: 80%;
    height: 25%;
    margin-left: 20%;
    top: 50%;

    color: white;
    font-family: 'Space Grotesk';
    align-items: center;
    justify-content: center;
    font-size: 1.3vmax;
    font-weight: 700;
}

#vejaTLOULBImagem {
    display: flex;
    border-radius: 10px;
    z-index: -2;
    position: absolute;
    width: 80%;
    height: 25%;
    background-size: cover;
    background-position: 10% 50%;
    margin-left: 20%;
    top: 50%;
    background-image: url(./assets/thelastofus-leftbehind.webp);
}

#vejaCordycepsGradiente {
    display: flex;
    background: linear-gradient(180deg, rgba(214, 155, 14, 0.29) 32.72%, rgba(51, 69, 49, 0.26) 74.79%);
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    width: 80%;
    height: 25%;
    margin-left: 20%;
    top: 78%;

    color: white;
    font-family: 'Space Grotesk';
    align-items: center;
    justify-content: center;
    font-size: 1.3vmax;
    font-weight: 700;
}

#vejaCordycepsImagem {
    display: flex;
    border-radius: 10px;
    z-index: -2;
    position: absolute;
    width: 80%;
    height: 25%;
    background-size: cover;
    background-position: 10% 40%;
    margin-left: 20%;
    top: 78%;
    background-image: url(./assets/The-Last-of-Us.webp);
}


/* FOOTER */

.footer {
    display: flex;
    position: absolute;
    width: 100%;
    margin-left: -5%;
    margin-top: 8%;
    height: 8vh;
    background-color: #7A6E44;
    justify-content: center;
    align-items: center;
}

#footerTexto {
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    font-size: 0.8vmax;
    text-align: center;
}