@import url('//db.onlinewebfonts.com/c/d0a687dd2a0803f486cde808245bd3c5?family=Press+Gothic');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Press Gothic';
    src: url('../fonts/PressGothic.otf') format('truetype');
}


body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.TLOU1Gradiente {
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3864) 58.7%, rgba(255, 255, 255, 0) 95.31%);
}

.TLOU1 {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: -2;
    height: 100%;
    background-size: 122%;
    background-position: 0% 40%;
    background-image: url('./assets/wYq1UsVEyQp6dT6cS1omgKiJ.webp');
}

.container {
    height: 100vh;
    width: 90%;
    margin-left: 5%;
    flex-direction: column;
    overflow: hidden;
}

#serietextoInfinito {
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
}

/* Menu Flutuante Jogos */
#menuflutuanteJogos {
    display: none;
    position: fixed;
    width: 14%;
    height: 15%;
    background-color: #FDC706;
    left: 47%;
    top: 6.5%;
    border-radius: 6px;
    flex-direction: column;
}


@media (max-width: 1919px) {
    #menuflutuanteJogos {
        width: 15%;
        height: 20%;
        top: 8%;
    }
}


.menuItens {
    display: flex;
    color: white;
    font-size: 1vmax;
    font-weight: 500;
    margin-top: 6%;
    margin-left: 5%;
    font-family: 'Space Grotesk', sans-serif;
}

.menuTLOU1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 33%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    border-bottom: 3px solid white;
    cursor: pointer;
}

.menuTLOU1:hover {
    background-color: #f7b500;
}

#menuTLOU1Texto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOU1Texto {
        font-size: 1vmax;
    }
}

.menuTLOU2 {
    display: flex;
    width: 100%;
    height: 33%;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    border-bottom: 3px solid white;
    cursor: pointer;
}

.menuTLOU2:hover {
    background-color: #f7b500;
}

#menuTLOU2Texto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOU2Texto {
        font-size: 1vmax;
    }
}

.menuLinha {
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2%;
    top: 35%;
}


.menuLinha2 {
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2%;
    top: 70%;
}

.menuTLOULB {
    display: flex;
    align-items: center;
    width: 100%;
    height: 33%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
}

.menuTLOULB:hover {
    background-color: #f7b500;
}

#menuTLOULBTexto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOULBTexto {
        font-size: 1vmax;
    }
}



/* TITULO */
.tituloJogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 100%;
    align-items: center;
}

#numeroJogo {
    display: flex;
    color: #FDC706;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4vmax;
    width: 100%;
    margin-top: 25%;
    justify-content: center;
}

#nomeJogo {
    display: flex;
    color: white;
    width: 100%;
    font-family: "Press Gothic";
    font-size: 8vmax;
    margin-top: -1.5%;
    justify-content: center;
}

#expandirIcon {
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
    font-size: 4vmax;
}

#irCima {
    display: none;
    position: fixed;
    z-index: 2;
    width: 3%;
    height: 6%;
    top: 85%;
    left: 94%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #354534;
    cursor: pointer;
}

#irCimaIcon {
    color: white;
    font-size: 1.7vmax;
}


/* HISTORIA */

.historiaContainer {
    display: flex;
    margin-top: 5%;
    width: 90vw;
    height: 55vh;
}

.blocoHistoria {
    display: flex;
    position: absolute;
    border-radius: 20px;
    width: 27.5vw;
    height: 45vh;
    background-size: cover;
    background-position: 35%;
    background-image: url(./assets/imagick_convert.php.webp);
}


#blocoHistoriaTexto {
    display: flex;
    margin-left: 35%;
    margin-top: 1%;
    width: 100%;
    font-family: 'Space Grotesk';
    letter-spacing: -1px;
    flex-direction: column;
}

#tituloHistoria {
    display: flex;
    color: black;
    font-size: 1.3vmax;
    font-family: 'Sora', sans-serif;
    font-weight: 800;
}

#conteudoHistoria1 {
    display: flex;
    color: #706D6D;
    font-size: 1.1vmax;
    width: 50%;
    margin-top: 1%;
    font-weight: 300;
    line-height: 33px;
}

#conteudoHistoria2 {
    display: flex;
    color: #706D6D;
    font-size: 1.1vmax;
    width: 50%;
    margin-top: 1%;
    line-height: 33px;
    font-weight: 300;
}

/* Parte de Baixo Container*/

.parteBaixoHistoria {
    display: flex;
    width: 100%;
    margin-top: 20%;
    height: 30vh;
    font-family: 'Space Grotesk';
}

/* Conheça Mais */
.conhecaMais {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 100%;

}

#tituloConheca {
    display: flex;
    font-size: 1.2vmax;
    font-weight: 800;
    font-family: 'Sora', sans-serif;
}

#ellieConheca {
    display: flex;
    background-color: #11141A;
    margin-top: 2%;
    border-radius: 5px;
    height: 25%;
    width: 100%;
}

#ellieIcon {
    display: flex;
    background-image: url(./assets/ellieicon.jpg);
    background-size: cover;
    height: 7.5vh;
    width: 3.5vw;
    border-radius: 5px;
}

#ellieTexto {
    display: flex;
    color: #ffffff;
    font-size: 1.2vmax;
    font-weight: 900;
    align-items: center;
    margin-left: 5%;
}

#joelConheca {
    display: flex;
    background-color: #37372F;
    margin-top: 5.2%;
    border-radius: 5px;
    height: 25%;
    width: 100%;

}

#joelIcon {
    display: flex;
    background-image: url(./assets/joelicon.jpg);
    background-size: cover;
    height: 7.5vh;
    width: 3.5vw;
    border-radius: 5px;
}

#joelTexto {
    display: flex;
    color: #ffffff;
    font-size: 1.2vmax;
    font-weight: 900;
    align-items: center;
    margin-left: 5%;
}

/*Cordyceps*/

.conhecaMaisCordyceps {
    display: flex;
    flex-direction: column;
    width: 68%;
    height: 100%;
    margin-left: 4.5%;
}

#tituloCordyceps {
    display: flex;
    font-size: 1.2vmax;
    font-weight: 800;
    font-family: 'Sora', sans-serif;
}

#cordycepsCor {
    color: #FDC706;
    margin-left: 0.6%;
}

#cordycepsGradiente {
    display: flex;
    background: linear-gradient(180deg, rgba(214, 155, 14, 0.29) 32.72%, rgba(51, 69, 49, 0.26) 74.79%);
    position: absolute;
    margin-top: 2%;
    border-radius: 10px;
    width: 58.5%;
    height: 18.5%;
}

#cordycepsConhece {
    display: flex;
    position: absolute;
    z-index: -1;
    margin-top: 2%;
    width: 58.5%;
    height: 18.5%;
    background-image: url(./assets/The-Last-of-Us.webp);
    border-radius: 10px;
    background-position: 0% 35%;
    background-size: cover;
}


/* CRIADORA DO GAME */

.criadora {
    display: flex;
    margin-bottom: 5%;
    width: 100%;
    height: 50%;
    font-family: 'Space Grotesk';
    flex-direction: column;
    margin-top: 6%;
    position: relative;
}

#criadoraTitulo {
    display: flex;
    font-weight: 800;
    font-family: 'Sora', sans-serif;
    font-size: 1.2vmax;
    margin-top: 1%;
}

#criadoraConteudo {
    display: flex;
    color: #706D6D;
    font-size: 1.1vmax;
    margin-top: 1%;
    font-weight: 300;
    line-height: 33px;
    width: 65%;
}

#criadoraImagem {
    display: flex;
    position: absolute;
    border-radius: 20px;
    width: 27.5vw;
    height: 45vh;
    margin-left: 62.5%;
    top: 0%;
    background-size: 100%;
    background-position: 50%;
    background-color: black;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/naughtydoglogo.png);
}

/* CARROSSEL */
.carrossel{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 10%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carrosselPersonagem{
    display: flex;
    height: 100%;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./assets/ellieinvertido.png);
    flex-direction: column;
}
#episodioProceder{
    display: flex;
    position: absolute;
    color: white;
    font-size: 1.8vmax;
    top: 50%;
    left: 95%;
    transform: rotate(180deg);
    cursor: pointer;
}

#episodioVoltar{
    display: flex;
    position: absolute;
    color: white;
    font-size: 1.8vmax;
    top: 50%;
    left: 102%;
    cursor: pointer;
}

.personagemTipo {
    display: flex;
    width: 50%;
    height: 15%;
    margin-top: 15%;
    background: linear-gradient(89.96deg, rgba(6, 31, 253, 0.1675) 18.83%, rgba(6, 208, 253, 0) 84.16%);
    justify-content: center;
    flex-direction: column;
}

#personagemTitulo {
    display: flex;
    color: #4883E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 8%;
    font-size: 1vmax;

}

#personagemTexto{
    display: flex;
    color: white;
    font-family: "Press Gothic";
    font-weight: 100;
    font-size: 4vmax;
    height: 60%;
    margin-left: 8%;
}

.personagemDescricao {
    display: flex;
    margin-top: 1%;
    margin-left: 4%;
    width: 41%;
    flex-direction: column;
}

#personagemConteudo{
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
    font-size: 1.1vmax;
    line-height: 32px;
}


/* VOCE SABIA */
.quiz {
    display: flex;
    width: 100%;
    height: 75%;
    background-color: #537042;
    margin-top: 10%;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

#parteCimaQuiz{
    display: flex;
    width: 100%;
}

#tituloQuiz{
    display: flex;
    color: white;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5vmax;
    text-align: center;
    margin-top: 0.5%;
    justify-content: center;
    
}

#botaoGeral{
   display: none;
   position: absolute;
   z-index: 1s;
   width: 15%;
   height: 4%;
   margin-top: 0.35%;
   margin-left: 73%;
   border-radius: 10px;
   background-color: #67a046;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   font-size: 0.7vmax;
   color: white;
   font-family: 'Roboto', sans-serif;
   cursor: pointer;
}

#blocoQuiz{
    display: none;
    background-color: #354534;
    width: 100%;
    height: 90%;
    margin-top: 0.5%;
}
#ellieGrafico{
  display: none;
}

#joelGrafico {
    display: none;
}

#tessGrafico {
    display: none;
}

#rileyGrafico {
    display: none;
}

#todosGrafico {
    display: none;
}

.conteudoQuiz {
    display: flex;
    width: 100%;
    height: 85%;
    background-color: #354534;
    margin-top: 0.5%;
    flex-direction: column;
    align-items: center;
}

#perguntaQuiz {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin-top: 1%;
    font-size: 1.3vmax;
}

.opcaoQuiz{
    display: flex;
    background-color: #537363;
    width: 60%;
    height: 15%;
    margin-top: 2%;
    border-radius: 15px;
    align-items: center;
    cursor: pointer;
 
}
.opcaoQuiz:hover{
    background-color: #60844B;
}


.opcaoTexto{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1vmax;
    font-weight: 400;
    margin-left: 10%;
}
/* FOOTER */

.footer {
    display: flex;
    position: absolute;
    width: 100%;
    margin-left: -5%;
    margin-top: 8%;
    height: 8vh;
    background-color: #354534;
    justify-content: center;
    align-items: center;
}

#footerTexto {
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    font-size: 0.8vmax;
    text-align: center;
}

/* BLUR QUIZ */
.blurQuiz {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(182, 182, 182, 0.41);
    backdrop-filter: blur(5px);
    flex-direction: column;
}

#blurAviso{
    display: flex;
    width: 100%;
    height: 5%;
    margin-top: 15%;
    justify-content: center;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 1.7vmax;
}

#blurBotao{
    display: flex;
    background-color: #FDC706;
    justify-content: center;
    width: 10%;
    height: 7%;
    margin-top: 2%;
    margin-left: 45%;
    align-items: center;
    color: white;
    font-weight: 700;
    font-family: 'Space Grotesk';
    border-radius: 15px;
    cursor: pointer;
}