@import url('https://fonts.cdnfonts.com/css/renogare-soft?styles=37636');

@import url('https://fonts.cdnfonts.com/css/made-tommy-soft-outline?styles=59309,59310,59307,59308,59305,59306,59304');

@font-face {
    font-family: 'Press Gothic';
    src: url('../fonts/PressGothic.otf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}


.TLOUVetor{
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: -60vw 0%;
    background-repeat: no-repeat;
    background-image: url(./assets/vetoratualizado.png);
}

@media (max-width: 1919px){
    .TLOUVetor{
        background-position: -115vw 0%;
    }
}


.TLOU {
    display: flex;
    position: absolute;
    z-index: -2;
    background-image: url(./assets/556869.jpg);
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: 0vw 10%;
}

/* Header Normal */
#header {
    display: flex;
    width: 90vw;
    height: 10vh;
    margin-left: 5%;
    align-items: center;
}

#logo {
    display: flex;
    font-family: "Press Gothic";
    font-size: 32px;
    color: black;

    width: 13%;
}

#logo2 {
    display: flex;
    font-family: "Press Gothic";
    font-size: 32px;
    color: #60844B;
    height: 10%;
    width: 10%;
}

.navbar {
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 5%;
}

#textonavbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 0.9vmax;
    line-height: 19px;
    letter-spacing: 0px;
    white-space: nowrap;
    font-weight: 600;
    gap: 5%;
}

#homepagetexto{
    color: #9b9595cb;
    cursor: pointer;
}

#cadastrotexto{
    color: #9b9595cb;
    cursor: pointer;
}

/* CADASTRO */
.container {
    display: flex;
    margin-left: 5%;
    width: 95%;
    height: 90%;
}

.cadastroBloco{
    display: flex;
    width: 100%;
    height: 75%;
    flex-direction: column;
    margin-top: 6.5%;
}

@media (max-width: 1919px){
    .cadastroBloco{
        margin-top: 5.5%;
    }
}

.cadastroTitulo{
    display: flex;
    color: #508348;
    font-size: 1.2vmax;
    margin-left: 0.2%;
    font-family: 'Renogare Soft', sans-serif;
    
}

.cadastroSubTitulo{
    display: flex;
    font-family: 'Renogare Soft', sans-serif;
    font-size: 3.1vmax;  
    margin-top: -10; 
}

.jaTem{
    display: flex;
    font-size: 1.3vmax;
    font-family: 'MADE Tommy Soft', sans-serif;
    color: #858181;
    margin-top: 2%;
    margin-left: 0.2%;
    font-weight: 400;
}

#entre{
    color: #508348;
    margin-left: 0.5%;
    cursor: pointer;
}

#email{
    display: flex;
    width: 31.5%;
    height: 6%;
    font-size: 1vmax;
    background-color: #cac9c994;
    border: 0;
    border-radius: 15px;
    font-family: 'MADE Tommy Soft', sans-serif;
    padding-left: 1.5%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    margin-top: 2%;
}

#email:focus{
    outline-color: #60844B;
    font-size: 1vmax;
}

#terceiro {
    position: absolute;
    margin-top: 12%;
    font-family: 'MADE Tommy Soft', sans-serif;
    color: #a39797;
    margin-left: 1.4%;
    font-size: 0.7vmax;
    font-weight: 400;
}

@media (max-width: 1919px){
    #terceiro{
        margin-top: 16%;
    }
}

#senha{
    display: flex;
    width: 31.5%;
    height: 6%;
    font-size: 1vmax;
   background-color: #cac9c994;
    border: 0;
    border-radius: 15px;
    font-family: 'MADE Tommy Soft', sans-serif;
    padding-left: 1.5%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    margin-top: 2%;
}

#senha:focus{
    outline-color: #60844B;
    font-size: 1vmax;
}

#quarto {
    position: absolute;
    margin-top: 17.4%;
    font-family: 'MADE Tommy Soft', sans-serif;
    color: #a39797;
    margin-left: 1.4%;
    font-size: 0.7vmax;
    font-weight: 400;
}

@media (max-width: 1919px){
    #quarto{
        margin-top: 21.3%;
    }
}

.msgErro{
    display: flex;
    font-family: 'MADE Tommy Soft', sans-serif;
    font-size: 0.8vmax;
    color: red;
    margin-left: 0.5%;
    width: 90%;
    height: 5%;
    margin-top: 0.5%;
}
#criarConta{
    display: flex;
    width: 15%;
    margin-left: 18%;
    height: 10%;
    border-radius: 15px;
    margin-top: 1%;
    background-color: #448D19;
    cursor: pointer;

    /* Parte do Texto */
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'MADE Tommy Soft', sans-serif;
    font-size: 1vmax;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}