@font-face {
    font-family: 'Press Gothic';
    src: url('../fonts/PressGothic.otf') format('truetype');
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Work Sans', sans-serif;
    src: url('../fonts/WorkSans-VariableFont_wght.ttf');

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    -webkit-font-smoothing: antialiased;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.TLOU1Gradiente {
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(171.66deg, rgba(252, 152, 2, 0.493) 22.24%, rgba(0, 0, 0, 0.301) 59.19%);
}

.TLOU1 {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: -2;
    height: 100%;
    background-size: 122%;
    background-position: 0% 20%;
    background-image: url('./assets/8879118.webp');
}

/* Menu Flutuante Jogos */
#menuflutuanteJogos {
    display: none;
    position: fixed;
    width: 14%;
    height: 15%;
    background-color: #FDC706;
    left: 47%;
    top: 6.5%;
    border-radius: 6px;
    flex-direction: column;
  
}


@media (max-width: 1919px) {
    #menuflutuanteJogos {
        width: 15%;
        height: 20%;
        top: 8%;
    }
}


.menuItens {
    display: flex;
    color: white;
    font-size: 1vmax;
    font-weight: 500;
    margin-top: 6%;
    margin-left: 5%;
    font-family: 'Space Grotesk', sans-serif;
}

.menuTLOU1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 33%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    border-bottom: 3px solid white;
    cursor: pointer;
}

.menuTLOU1:hover {
    background-color: #f7b500;
}

#menuTLOU1Texto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOU1Texto {
        font-size: 1vmax;
    }
}

.menuTLOU2 {
    display: flex;
    width: 100%;
    height: 33%;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    border-bottom: 3px solid white;
    cursor: pointer;
}

.menuTLOU2:hover {
    background-color: #f7b500;
}

#menuTLOU2Texto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOU2Texto {
        font-size: 1vmax;
    }
}

.menuLinha {
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2%;
    top: 35%;
}


.menuLinha2 {
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2%;
    top: 70%;
}

.menuTLOULB {
    display: flex;
    align-items: center;
    width: 100%;
    height: 33%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
}

.menuTLOULB:hover {
    background-color: #f7b500;
}

#menuTLOULBTexto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOULBTexto {
        font-size: 1vmax;
    }
}







.container {
    height: 100vh;
    width: 90vw;
    margin-left: 5%;
}

/* Header Fixa */
#headerinfinitaFundo {
    display: none;
    position: fixed;
    width: 100vw;
    height: 6.5vh;
    background-color: #fc9802ee;
}

.headerinfinita {
    display: flex;
    width: 90vw;
    height: 7.5vh;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

#textonavbarInfinito {
    display: flex;
    align-items: center;
    width: 85%;
    height: 100%;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 0.9vmax;
    line-height: 19px;
    margin-left: 7%;
    
    letter-spacing: 0px;
    white-space: nowrap;
    font-weight: 600;
    gap: 5%;

}

@media (max-width: 1919px) {
    #textonavbarInfinito {
        font-size: 1.2vmax;
    }
}

#serietextoInfinito{
    color: white;
}

/* Header Normal */
#header {
    display: flex;
    width: 90vw;
    height: 10vh;
    align-items: center;
}

#logo {
    display: flex;
    font-family: "Press Gothic";
    font-size: 32px;
    color: white;
    width: 13%;
}

#logo2 {
    display: flex;
    font-family: "Press Gothic";
    font-size: 32px;
    color: #FDC706;
    height: 10%;
    width: 10%;
}

.navbar {
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 5%;
    align-items: center;
}

#textonavbar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 7%;
    height: 100%;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 0.9vmax;
    line-height: 19px;
    letter-spacing: 0px;
    white-space: nowrap;
    font-weight: 600;
    gap: 5%;
}

/* HOMEPAGE */
.homepage {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: center;
}

#homepagetexto {
    display: flex;
    color: white;
    cursor: pointer;
}

#homepagetexto:hover {
    color: #ffe70c;
}

/* JOGOS */
.jogos {
    display: flex;
    height: 30%;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

#jogostexto {
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
    cursor: pointer;
}

#jogostexto:hover {
    color: #ffe70c;
}

/* Menu Flutuante Jogos */
#menuflutuanteJogos {
    display: none;
    position: fixed;
    width: 14%;
    height: 15%;
    background-color: #FDC706;
    left: 47%;
    top: 6.5%;
    border-radius: 6px;
    flex-direction: column;
}


@media (max-width: 1919px) {
    #menuflutuanteJogos {
        width: 15%;
        height: 20%;
        top: 6.3%;
    }
}


.menuItens {
    display: flex;
    color: white;
    font-size: 1vmax;
    font-weight: 500;
    margin-top: 6%;
    margin-left: 5%;
    font-family: 'Space Grotesk', sans-serif;
}

.menuTLOU1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 33%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    border-bottom: 3px solid white;
    cursor: pointer;
}

.menuTLOU1:hover {
    background-color: #f7b500;
}

#menuTLOU1Texto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOU1Texto {
        font-size: 1vmax;
    }
}

.menuTLOU2 {
    display: flex;
    width: 100%;
    height: 33%;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    border-bottom: 3px solid white;
    cursor: pointer;
}

.menuTLOU2:hover {
    background-color: #f7b500;
}

#menuTLOU2Texto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOU2Texto {
        font-size: 1vmax;
    }
}

.menuLinha {
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2%;
    top: 35%;
}


.menuLinha2 {
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2%;
    top: 70%;
}

.menuTLOULB {
    display: flex;
    align-items: center;
    width: 100%;
    height: 33%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
}

.menuTLOULB:hover {
    background-color: #f7b500;
}

#menuTLOULBTexto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOULBTexto {
        font-size: 1vmax;
    }
}

/* Serie */
.serie {
    display: flex;
    height: 30%;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

#serietexto {
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
    cursor: pointer;
}

#serietexto:hover {
    color: #ffe70c;
}


/* Faça Login */
.login {
    display: none;
    height: 30%;
    width: 7%;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FDC706A6;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
}

#logintexto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
}

/* Cadastro */
.cadastrar {
    display: none;
    height: 30%;
    width: 9%;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    flex-direction: column;
    align-items: center;
    margin-left: 1%;
}

#naoTem {
    display: flex;
    color: #FDC706A6;
    font-size: 0.5vmax;
    justify-content: center;
    font-weight: 500;
}

#cadastrartexto {
    display: flex;
    color: white;
    font-size: 0.8vmax;
    font-weight: 700;
    margin-top: -4%;
    cursor: pointer;

}

/* QUANDO ESTIVER LOGADO: */
.idUsuario{
    display: none;
    height: 40%;
    width: 10%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#idUsuarioTexto{
    font-size: 1.2vmax;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
}


#iconUsuario{
    color: white;
    cursor: pointer;
}

#iconNavbar {
    margin-left: -1%;
    width: 10%;
    align-items: center;
    font-size: 18px;
}

.footer {
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: #354534;
    justify-content: center;
    align-items: center;
}

#footerTexto {
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    font-size: 0.8vmax;
    text-align: center;
}

#irCima {
    display: none;
    position: fixed;
    z-index: 2;
    width: 3%;
    height: 6%;
    top: 85%;
    left: 94%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #354534;
    cursor: pointer;
}

#irCimaIcon {
    color: white;
    font-size: 1.7vmax;
}

@keyframes historiaA {
    from {
        width: 20vh;
        height: 20vh;
    }

    to {
        width: 20vh;
        height: 21vh;
    }
}

@keyframes navbarON {
    0% {
        opacity: 0;
        width: 0%;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}

@keyframes navbarOFF {
    0% {
        opacity: 1;
        width: 100%;
    }

    to {
        opacity: 0;
        width: 0%;
    }
}

@keyframes ondeA {
    0% {
        opacity: 0;
        width: 0%;
    }

    to {
        opacity: 1;
        width: 60%;
    }
}

@keyframes ondeAReverse {
    0% {
        opacity: 1;
        width: 60%;
    }

    to {
        opacity: 0;
        width: 0%;
    }
}



body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: #FDC706;
    border-radius: 20px;

}
