.TLOUHBOGradiente {
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #32372963 19.79%, rgba(50, 49, 41, 0.5568) 64.58%);
}

.TLOUHBO {
    display: flex;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-size: 150%;
    background-position: 10% 34%;
    background-image: url('./assets/1299920_1.webp');
    color: white;
}

.containerTLOUHBO {
    height: 60vh;
    width: 90vw;
    margin-left: 5%;
    color: white;
}

.tituloJogoTLOUHBO {
    display: flex;
    flex-direction: column;
    margin-top: 17.2%;
    width: 40%;
}

#numeroJogoTLOUHBO {
    display: flex;
    color: #608103;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4vmax;
}

@media (max-width:1919px) {
    #numeroJogoTLOUHBO {
        font-size: 1.6vmax;
    }
}

#nomeJogoTLOUHBO {
    display: flex;
    color: white;
    font-family: "Press Gothic";
    font-size: 4vmax;
    margin-top: -0.8%;
}

@media (max-width: 1919px) {
    #nomeJogoTLOUHBO {
        font-size: 4.6vmax;
        margin-top: 0%;
    }
}

.sobreBlocoTLOUHBO {
    display: flex;
    position: absolute;
    background: linear-gradient(89.96deg, rgba(96, 129, 3, 0.25) 18.83%, rgba(43, 51, 20, 0.015) 84.16%);
    align-items: center;
    width: 46.4%;
    height: 24%;
    margin-top: 3.5%;
    margin-left: -7%;
}

@media (max-width: 1919px) {
    .sobreBlocoTLOUHBO {
        height: 29%;
    }
}

#sobreBlocoTextoTLOUHBO {
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
    font-size: 1.05vmax;
    width: 77%;
    margin-left: 15%;
    line-height: 30px;
}

@media (max-width: 1919px) {
    #sobreBlocoTextoTLOUHBO {
        width: 87%;
    }
}

#trailer3 {
    display: flex;
    position: absolute;
    left: 28.5%;
    top: 427.5%;
    width: 10%;
    height: 10%;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1919px) {
    #trailer3 {
        left: 32%;
        top: 426.5%;
    }
}

#playIcon3 {
    color: white;
    font-size: 2.5vmax;
    font-weight: 200;
}

#trailerTexto3 {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 0.7vmax;
    font-weight: 400;
    width: 20%;
}

/* Blocos Sobrepondo o Banner */
.blocoEpisodiosGradienteTLOUHBO {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: end;
    margin-left: 5%;
    border-radius: 15px;
    width: 20vh;
    height: 20vh;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgba(0, 0, 0, 0.123) 60%);
}


.blocoEpisodiosGradienteTLOUHBO:hover {
    animation-name: historiaA;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.blocoEpisodiosTLOUHBO {
    display: flex;
    position: absolute;
    z-index: -1;
    background-image: url(./assets/vlcsnap-2023-01-05-16h53m45s908.jpg);
    background-size: cover;
    background-position: 55%;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

#blocoEpisodiosTextoTLOUHBO {
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
    margin-bottom: 10%;
    font-size: 1.15vmax;
}

.containerTLOUinformativoTLOUHBO {
    display: flex;
    height: 70vh;
    width: 90vw;
    margin-left: 5%;
    font-family: 'Space Grotesk';
    flex-direction: column;
    margin-top: 4%;
}

#tituloInformativoTLOUHBO {
    display: flex;
    font-weight: 700;
    font-size: 1.25vmax;
    line-height: 20px;
    font-style: normal;
}

#textoInformativo1TLOUHBO {
    display: flex;
    font-weight: 300;
    font-size: 1.1vmax;
    color: #6e6e6e;
    line-height: 30px;
    font-style: normal;
    margin-top: 2%;
}

#textoInformativo2TLOUHBO {
    display: flex;
    width: 95%;
    font-weight: 300;
    font-size: 1.1vmax;
    color: #6e6e6e;
    line-height: 30px;
    font-style: normal;
    margin-top: 2%;
}

/* ONDE ASSISTIR */
#ondeJogarTextoTLOUHBO {
    display: flex;
    font-weight: 700;
    flex-direction: column;
    font-size: 1.25vmax;
    line-height: 20px;
    font-style: normal;
    margin-top: 5%;
}

.ondeJogarBlocosTLOUHBO {
    display: flex;
    width: 20.5vw;
    height: 20vh;
    margin-top: 6%;
    flex-direction: column;
}

/* HBO */
#ondeTLOUHBO {
    display: flex;
    width: 100%;
    height: 30%;
    border-radius: 10px;
    background-color: #731CDB;
    align-items: center;
    cursor: pointer;
}

#ondeAnimationHBO {
    display: flex;
    opacity: 1;
    width: 0%;
    height: 100%;
    margin-left: auto;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background: linear-gradient(120deg, #731CDB 52.42%, #FDC706 53.21%);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#hboicon {
    margin-left: 3%;
    height: 55%;
}

#hbotexto {
    color: white;
    margin-left: 5%;
    font-size: 1vmax;
    font-weight: 900;
}