/* TLOU2 */
.TLOU2Gradiente {
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(175.61deg, rgba(43, 51, 20, 0.61) 26.22%, rgba(43, 37, 32, 0.384) 56.98%);
}

.TLOU2 {
    display: flex;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-size: 150%;
    background-position: 3% 70%;
    background-image: url('./assets/thumb-1920-1065466.webp');
    color: white;
}

.containerTLOU2 {
    height: 90vh;
    width: 90vw;
    margin-left: 5%;
    color: white;
}

.tituloJogoTLOU2 {
    display: flex;
    flex-direction: column;
    margin-top: 17.2%;
    width: 40%;
}

#numeroJogoTLOU2 {
    display: flex;
    color: #297F00;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4vmax;
}



#nomeJogoTLOU2 {
    display: flex;
    color: white;
    font-family: "Press Gothic";
    font-size: 4vmax;
    margin-top: -0.8%;

}

.sobreBlocoTLOU2 {
    display: flex;
    position: absolute;
    background: linear-gradient(89.96deg, rgba(41, 253, 6, 0.25) 18.83%, rgba(6, 253, 105, 0) 84.16%);
    align-items: center;
    width: 46.4%;
    height: 24%;
    margin-top: 3.5%;
    margin-left: -7%;
}




#sobreBlocoTextoTLOU2 {
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
    font-size: 1.05vmax;
    width: 77%;
    margin-left: 15%;
    line-height: 30px;
}


/* Blocos Sobrepondo o Banner */
.blocoHistoriaGradienteTLOU2 {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: end;
    top: 288%;
    margin-left: 5%;
    border-radius: 15px;
    width: 20vh;
    height: 20vh;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgba(0, 0, 0, 0.267) 60%);
}

.blocoHistoriaTLOU2 {
    display: flex;
    position: absolute;
    z-index: -1;
    background-image: url(./assets/Diretor-chorou-com-sucesso-de-The-Last-of-Us-2-este-é-um-jogo-da-Naughty-Dog...webp);
    background-size: cover;
    background-position: 40%;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.blocoHistoriaGradienteTLOU2:hover {
    animation-name: historiaA;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

#blocoHistoriaTextoTLOU2 {
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
    margin-bottom: 10%;
    font-size: 1.15vmax;
}

.blocoPersonagemGradienteTLOU2 {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: end;
    top: 288%;
    margin-left: 17.5%;
    border-radius: 15px;
    width: 20vh;
    height: 20vh;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgba(0, 0, 0, 0.082) 60%);
}

.blocoPersonagemGradienteTLOU2:hover {
    animation-name: historiaA;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.blocoPersonagemTLOU2 {
    display: flex;
    position: absolute;
    z-index: -1;
    background-image: url(./assets/abyy.jpg);
    background-size: cover;
    background-position: 70%;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

#blocoPersonagemTextoTLOU2 {
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
    margin-bottom: 10%;
    font-size: 1.15vmax;
}

.containerTLOUinformativoTLOU2 {
    display: flex;
    height: 70vh;
    width: 90vw;
    margin-left: 5%;
    font-family: 'Space Grotesk';
    flex-direction: column;
}

#tituloInformativoTLOU2 {
    display: flex;
    font-weight: 700;
    font-size: 1.25vmax;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

#textoInformativo1TLOU2 {
    display: flex;
    font-weight: 300;
    font-size: 1.1vmax;
    color: #6e6e6e;
    line-height: 30px;
    font-style: normal;
    margin-top: 2%;
}

#textoInformativo2TLOU2 {
    display: flex;
    width: 95%;
    font-weight: 300;
    font-size: 1.1vmax;
    color: #6e6e6e;
    line-height: 30px;
    font-style: normal;
    margin-top: 2%;
}

/* ONDE JOGAR */
#ondeJogarTextoTLOU2 {
    display: flex;
    font-weight: 700;
    flex-direction: column;
    font-size: 1.25vmax;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    font-style: normal;
    margin-top: 5%;
}

.ondeJogarBlocosTLOU2 {
    display: flex;
    width: 20.5vw;
    height: 20vh;
    margin-top: 6%;
    flex-direction: column;
}

/* PSN */
#ondePSNTLOU2 {
    display: flex;
    width: 100%;
    height: 30%;
    border-radius: 10px;
    background-color: #003791;
    align-items: center;
    cursor: pointer;
}

#ondeAnimationPSNTLOU2 {
    display: flex;
    opacity: 1;
    width: 0%;
    height: 100%;
    margin-left: auto;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background: linear-gradient(120deg, #003791 52.42%, #FDC706 53.21%);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


#psnicon {
    margin-left: 3%;
    height: 55%;
}

#psntexto {
    color: white;
    margin-left: 5%;
    font-size: 1vmax;
    font-weight: 900;
}