@import url('//db.onlinewebfonts.com/c/d0a687dd2a0803f486cde808245bd3c5?family=Press+Gothic');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Press Gothic';
    src: url('../fonts/PressGothic.otf') format('truetype');
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;

}

#irCima {
    display: none;
    position: fixed;
    z-index: 2;
    width: 3%;
    height: 6%;
    top: 85%;
    left: 94%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #354534;
    cursor: pointer;
}

#irCimaIcon {
    color: white;
    font-size: 1.7vmax;
}


.TLOUGradiente {
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3864) 58.7%, rgba(255, 255, 255, 0) 95.31%);
}

.TLOU {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: -2;
    height: 100%;
    background-size: cover;
    background-image: url('./assets/wp10353322-the-last-of-us-left-behind-wallpapers.jpg');
}

.container {
    display: flex;
    height: 170vh;
    width: 90vw;
    margin-left: 5%;

}

/* Header Fixa */
#headerinfinitaFundo {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 6.5vh;
    background-color: #000000ee;
}

.headerinfinita {
    display: flex;
    width: 90vw;
    height: 6.5vh;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}
/* Texto Header Infinita */
#homepagetextoInfinito {
    display: flex;
    color: #ffffff;
    cursor: pointer;
}
#noticiastextoInfinito {
    cursor: pointer;
    color: white;
}

#jogostextoInfinito {
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
}

#serietextoInfinito {
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
}

/* Header Normal */
#header {
    display: flex;
    width: 90vw;
    height: 10vh;
    align-items: center;
}

#logo {
    display: flex;
    font-family: "Press Gothic";
    font-size: 32px;
    color: white;
    width: 13%;
}

#logo2 {
    display: flex;
    font-family: "Press Gothic";
    font-size: 32px;
    color: #FDC706;
    height: 10%;
    width: 10%;
}

.navbar {
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 5%;
    align-items: center;
}

#textonavbar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 7%;
    height: 100%;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 0.9vmax;
    line-height: 19px;
    letter-spacing: 0px;
    white-space: nowrap;
    font-weight: 600;
    gap: 5%;
}

/* HOMEPAGE */
.homepage {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: center;
}

#homepagetexto {
    display: flex;
    color: white;
    cursor: pointer;
}

#homepagetexto:hover {
    color: #ffe70c;
}

/* JOGOS */
.jogos {
    display: flex;
    height: 30%;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

#jogostexto {
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
    cursor: pointer;
}

#jogostexto:hover {
    color: #ffe70c;
}

/* Menu Flutuante Jogos */
#menuflutuanteJogos {
    display: none;
    position: fixed;
    width: 14%;
    height: 15%;
    background-color: #FDC706;
    left: 47%;
    top: 6.5%;
    border-radius: 6px;
    flex-direction: column;
}


@media (max-width: 1919px) {
    #menuflutuanteJogos {
        width: 15%;
        height: 20%;
        top: 8%;
    }
}


.menuItens {
    display: flex;
    color: white;
    font-size: 1vmax;
    font-weight: 500;
    margin-top: 6%;
    margin-left: 5%;
    font-family: 'Space Grotesk', sans-serif;
}

.menuTLOU1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 33%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    border-bottom: 3px solid white;
    cursor: pointer;
}

.menuTLOU1:hover {
    background-color: #f7b500;
}

#menuTLOU1Texto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOU1Texto {
        font-size: 1vmax;
    }
}

.menuTLOU2 {
    display: flex;
    width: 100%;
    height: 33%;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    border-bottom: 3px solid white;
    cursor: pointer;
}

.menuTLOU2:hover {
    background-color: #f7b500;
}

#menuTLOU2Texto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOU2Texto {
        font-size: 1vmax;
    }
}

.menuLinha {
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2%;
    top: 35%;
}


.menuLinha2 {
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2%;
    top: 70%;
}

.menuTLOULB {
    display: flex;
    align-items: center;
    width: 100%;
    height: 33%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
}

.menuTLOULB:hover {
    background-color: #f7b500;
}

#menuTLOULBTexto {
    display: flex;
    color: white;
    font-size: 0.9vmax;
    margin-left: 5%;
    font-weight: 500;
}

@media (max-width: 1919px) {
    #menuTLOULBTexto {
        font-size: 1vmax;
    }
}

/* Serie */
.serie {
    display: flex;
    height: 30%;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

#serietexto {
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
    cursor: pointer;
}

#serietexto:hover {
    color: #ffe70c;
}


/* Faça Login */
.login {
    display: none;
    height: 30%;
    width: 7%;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FDC706A6;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
}

#logintexto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
}

/* Cadastro */
.cadastrar {
    display: none;
    height: 30%;
    width: 9%;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    flex-direction: column;
    align-items: center;
    margin-left: 1%;
}

#naoTem {
    display: flex;
    color: #FDC706A6;
    font-size: 0.5vmax;
    justify-content: center;
    font-weight: 500;
}

#cadastrartexto {
    display: flex;
    color: white;
    font-size: 0.8vmax;
    font-weight: 700;
    margin-top: -4%;
    cursor: pointer;

}

/* QUANDO ESTIVER LOGADO: */
.conta {
    display: flex;
    height: 30%;
    width: 7%;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FDC706A6;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
}

#contatexto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
}


/* TITULO */
.tituloJogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 100%;
    align-items: center;
}

#numeroJogo {
    display: flex;
    color: white;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2vmax;
    width: 100%;
    margin-top: 25%;
    justify-content: center;
}

#nomeJogo {
    display: flex;
    color: white;
    width: 100%;
    font-family: "Press Gothic";
    font-size: 8vmax;
    margin-top: -1.5%;
    justify-content: center;
}

#expandirIcon {
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
    font-size: 4vmax;
}

/* HISTORIA */

.historiaConteudo {
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: 55%;
}

.historiaImagem {
    display: flex;
    position: relative;
    border-radius: 20px;
    width: 27.5vw;
    height: 45vh;
    margin-top: 1%;
    background-size: cover;
    background-position: 35%;
    background-image: url(./assets/thelastofus-leftbehind.webp);
}

.historiaTexto{
    display: flex;
    width: 60%;
    height: 10%;
    margin-left: 5%;
    margin-top: 1%;
    flex-direction: column;
}

#historiaTitulo{
    color: black;
    font-size: 1.3vmax;
    font-family: 'Sora', sans-serif;
    font-weight: 800;
}

#historiaSobre{
    display: flex;
    color: #706D6D;
    font-size: 1vmax;
    width: 100%;
    margin-top: 1%;
    font-weight: 300;
    line-height: 36px;
    font-family: 'Space Grotesk';
}

/* Conheça Mais */
.conhecaMais {
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: column;
}

.containerConheca{
    display: flex;
    width: 100%;
    height: 100%;
}

#conhecaTitulo{
    display: flex;
    font-size: 1.2vmax;
    font-weight: 800;
    font-family: 'Sora', sans-serif;
}

.conhecaConteudo{
    display: flex;
    margin-top: 1.5%;
    height: 71%;
    width: 45%;
    position: relative;
}

#conhecaGradiente{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(50, 53, 86, 0.34) 7.11%, rgba(46, 33, 42, 0.27) 100%);
}

#conhecaPersonagem{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-size: cover;
    background-position-y: 40%;
    background-image: url(./assets/maxresdefault.jpg);
}

#conhecaLinha{
    display: flex;
    background-color: #252D3E;
    width: 100%;
    height: 20%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 2;
    margin-top: 21%;
    flex-direction: row-reverse;
    align-items: center;
}

#conhecaTexto{
    color: white;
    font-family: "Press Gothic";
    font-weight: 400;
    font-size: 1.2vmax;
    margin-right: 2%;
}

/* O PORQUE DE UMA EXPANSAO */
.pqExpansao{
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 12%;
} 

#expansaoTextos{
    display: flex;
    width: 60%;
    height: 90%;
    flex-direction: column;
}

#expansaoTitulo{
    display: flex;
    color: black;
    font-family: 'Sora', sans-serif;
    font-weight: 900;
    font-size: 1.2vmax;
}

#expansaoConteudo{
    display: flex;
    color: #706D6D;
    font-weight: 300;
    font-size: 1vmax;
    font-family: 'Space Grotesk';
    margin-top: 2%;
    line-height: 36px;
}

#expansaoImagem{
    display: flex;
    position: relative;
    width: 35%;
    height: 90%;
    background-size: cover;
    margin-left: 5%;
    border-radius: 15px;
    background-image: url(./assets/ff.jpg);
}

/* CARROSSEL */
.carrossel{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 10%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carrosselPersonagem{
    display: flex;
    height: 100%;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./assets/ellieinvertido.png);
    flex-direction: column;
}
#episodioProceder{
    display: flex;
    position: absolute;
    color: white;
    font-size: 1.8vmax;
    top: 50%;
    left: 95%;
    transform: rotate(180deg);
    cursor: pointer;
}

#episodioVoltar{
    display: flex;
    position: absolute;
    color: white;
    font-size: 1.8vmax;
    top: 50%;
    left: 102%;
    cursor: pointer;
}

.personagemTipo {
    display: flex;
    width: 50%;
    height: 15%;
    margin-top: 15%;
    background: linear-gradient(89.96deg, rgba(6, 31, 253, 0.1675) 18.83%, rgba(6, 208, 253, 0) 84.16%);
    justify-content: center;
    flex-direction: column;
}

#personagemTitulo {
    display: flex;
    color: #4883E3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 8%;
    font-size: 1vmax;

}

#personagemTexto{
    display: flex;
    color: white;
    font-family: "Press Gothic";
    font-weight: 100;
    font-size: 4vmax;
    height: 60%;
    margin-left: 8%;
}

.personagemDescricao {
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
    margin-top: 1%;
    font-size: 1.1vmax;
    margin-left: 4%;
    width: 41%;
    flex-direction: column;
}

/* VOCE SABIA */
.vocesabia{
    display: flex;
    width: 100%;
    height: 80%;
    margin-top: 8%;
}

.voceTexto{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

#voceTitulo{
    display: flex;
    color: black;
    font-family: 'Sora', sans-serif;
    font-size: 1.2vmax;
    font-weight: 900;
}

#voceConteudo{
    display: flex;
    color: #706D6D;
    font-family: 'Space Grotesk';
    font-size: 1vmax;
    line-height: 36px;
    margin-top: 2%;
}

.saibaMais{
    display: flex;
    width: 45%;
    margin-left: 5%;
    height: 100%;
    flex-direction: column;
}

#saibaMaisTitulo{
    display: flex;
    color: black;
    font-family: 'Sora', sans-serif;
    font-size: 1.2vmax;
    font-weight: 900;
}

.saibaConteudo{
    display: flex;
    width: 100%;
    height: 20%;
    margin-top: 2%;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

#saibaGradiente {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 1;
    background: linear-gradient(180deg, rgba(30, 107, 47, 0.29) 32.72%, rgba(51, 69, 49, 0.26) 74.79%);
}

#saibaTexto{
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    height: 100%;
    font-weight: 900;
    font-size: 1.3vmax;
    font-family: 'Space Grotesk';
    justify-content: center;
}
#saibaImagem{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
    background-position-y: 50%;
    background-image: url(./assets/thumb-1920-1065466.webp);
}

.footer {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 8vh;
    background-color: #354534;
    justify-content: center;
    align-items: center;
}

#footerTexto {
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    font-size: 0.9vmax;
    text-align: center;
}