@media (max-width: 1919px){
    .jsonEpisodios {
        height: 90%;
    }
}

@media (max-width: 1919px){
    #elencoAtor{
        margin-top: 70%;
    }
}


@media (max-width: 1919px) {
    #textonavbar {
        font-size: 1.2vmax;
    }
}