/* TLOU 1 */
@media (max-width: 1919px) {
    #headerinfinitaFundo {
        height: 7.5vh;
    }

    .headerinfinita {
        height: 7.5vh;
    }
}

@media (max-width: 1919px) {
    #textonavbar {
        font-size: 1.2vmax;
    }
}