@font-face {
    font-family: 'Press Gothic';
    src: url('../fonts/PressGothic.otf') format('truetype');
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Work Sans', sans-serif;
    src: url('../fonts/WorkSans-VariableFont_wght.ttf');

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

#blurAutenticacao {
    display: flex;
    position: absolute;
    width: 100%;
    height: 330vh;
    background: rgba(182, 182, 182, 0.41);
    backdrop-filter: blur(15px);
    flex-direction: column;
}


#blurTexto {
    display: flex;
    color: #FDC706;
    position: fixed;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    width: 100%;
    font-size: 2vmax;
    margin-top: 20%;
    font-weight: 700;

}

#blurCadeado {
    display: flex;
    color: #FDC706;
    position: fixed;
    z-index: 2;
    justify-content: center;
    width: 100%;
    margin-top: 25%;
    font-weight: 400;
    font-size: 5vmax;
}

#blurCadastro {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    z-index: 2;
    justify-content: center;
    width: 100%;
    height: 30%;
    color: white;
    font-weight: 500;
    margin-top: 32%;
    cursor: pointer;
}

#blurCadastroBotao {
    display: flex;
    background-color: #FDC706;
    width: 10%;
    height: 15%;
    align-items: center;
    justify-content: center;
    font-size: 1vmax;
    border-radius: 10px;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 90vw;
    margin-left: 5%;
}

/* Header Fixa */
#headerinfinitaFundo {
    display: none;
    position: fixed;
    width: 100vw;
    height: 6.5vh;
    background-color: #fc9802ee;
}

.headerinfinita {
    display: flex;
    width: 90vw;
    height: 6.5vh;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

/* Header Normal */
#header {
    display: flex;
    width: 90vw;
    height: 10vh;
    align-items: center;
}

#logo {
    display: flex;
    font-family: "Press Gothic";
    font-size: 32px;
    color: black;
    width: 13%;
}

#logo2 {
    display: flex;
    font-family: "Press Gothic";
    font-size: 32px;
    color: #493B33;
    height: 10%;
    width: 10%;
}

.navbar {
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 5%;
    align-items: center;
}

#textonavbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 0.9vmax;
    line-height: 19px;
    letter-spacing: 0px;
    white-space: nowrap;
    font-weight: 600;
    gap: 5%;
}

/* Texto Header Infinita */
#noticiastextoInfinito {
    cursor: pointer;
    color: white;
}

#jogostextoInfinito {
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
}

#serietextoInfinito {
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
}

/* HOMEPAGE */
.homepage {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: center;
}

#homepagetexto {
    display: flex;
    color: #493B33;
    cursor: pointer;
}

/*NOTICIAS*/
.noticias {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

#noticiastexto {
    cursor: pointer;
    color: #493B33;
    cursor: pointer;
}

#noticiaslinha {
    display: flex;
    opacity: 0;
    background-color: #FDC706;
    width: 0%;
    height: 10%;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* JOGOS */
.jogos {
    display: flex;
    height: 30%;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

#jogostexto {
    display: flex;
    cursor: pointer;
    color: #493B33;
    align-items: center;
    cursor: pointer;
}

#jogoslinha {
    display: flex;
    opacity: 0;
    background-color: #FDC706;
    width: 0%;
    height: 10%;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Serie */
.serie {
    display: flex;
    height: 30%;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

#serietexto {
    display: flex;
    cursor: pointer;
    color: #493B33;
    align-items: center;
    cursor: pointer;
}

/* Faça Login */
.login {
    display: none;
    height: 30%;
    width: 7%;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FDC706;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
}

#logintexto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
}

/* Cadastro */
.cadastrar {
    display: none;
    height: 30%;
    width: 9%;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    flex-direction: column;
    align-items: center;
    margin-left: 1%;
}

#naoTem {
    display: flex;
    color: #FDC706;
    font-size: 0.5vmax;
    justify-content: center;
    font-weight: 500;
}

#cadastrartexto {
    display: flex;
    color: white;
    font-size: 0.8vmax;
    font-weight: 700;
    margin-top: -4%;
    cursor: pointer;

}

/* QUANDO ESTIVER LOGADO: */
.conta {
    display: flex;
    height: 30%;
    width: 7%;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #493B33;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
}

#contatexto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
}

.noticiasTodas {
    display: flex;
    width: 100%;
    height: 100%;
}

.noticiaEsquerda {
    display: flex;
    width: 67.5%;
    height: 90%;
    margin-top: 2%;
    flex-direction: column;
    cursor: pointer;
}

#imagemNoticia {
    display: flex;
    position: absolute;
    z-index: -2;
    width: 60%;
    height: 90.5%;
    border-radius: 15px;
    background-image: url(./assets/thelastofus-leftbehind.webp);
    background-position: 45%;
}

#imagemNoticiaGradiente {
    display: flex;
    width: 60%;
    height: 90.5%;
    z-index: -1;
    position: absolute;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(26, 46, 80, 0.47) 48.72%, rgba(31, 69, 150, 0.616) 100%);
    opacity: 0.79;
}

#imagemNoticiaTopico {
    display: flex;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 3%;
    margin-top: 4%;
}

#imagemNoticiaTitulo {
    display: flex;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    font-size: 2.4vmax;
    font-weight: 700;
    margin-top: 52%;
    margin-left: 3%;
}

.noticiaDireita {
    display: flex;
    width: 35%;
    height: 90%;
    margin-top: 2%;
    margin-left: 2%;
    flex-direction: column;
}

.noticiaCima {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    cursor: pointer;
}

.noticiaBaixo {
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 2%;
    flex-direction: column;
}

#imagemNoticia2 {
    display: flex;
    position: absolute;
    width: 30.5%;
    z-index: -2;
    height: 45%;
    border-radius: 15px;
    background-image: url(./assets/vlcsnap-2023-01-05-16h53m45s908.jpg);
    background-position: 45%;
    background-size: cover;
}

#imagemNoticia2Gradiente {
    display: flex;
    width: 30.5%;
    height: 40%;
    z-index: -1;
    position: absolute;
    border-radius: 15px;
    background-size: cover;
    background: linear-gradient(180deg, rgba(80, 75, 26, 0.26) 32.72%, rgba(28, 36, 23, 0.17) 74.79%);
    opacity: 0.79;
}

#imagemNoticia2Topico {
    display: flex;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 5%;
    margin-top: 8%;
}

#imagemNoticia2Titulo {
    display: flex;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    font-size: 1.8vmax;
    font-weight: 700;
    margin-top: 31%;
    margin-left: 5%;
}

#imagemNoticia3 {
    display: flex;
    position: absolute;
    width: 30.5%;
    z-index: -2;
    height: 45%;
    border-radius: 15px;
    background-image: url(./assets/Diretor-chorou-com-sucesso-de-The-Last-of-Us-2-este-é-um-jogo-da-Naughty-Dog...webp);
    background-position: 45%;
    background-size: cover;
}

#imagemNoticia3Gradiente {
    display: flex;
    width: 30.5%;
    height: 40%;
    z-index: -1;
    position: absolute;
    border-radius: 15px;
    background-size: cover;
    background: linear-gradient(180deg, rgba(80, 75, 26, 0.26) 32.72%, rgba(28, 36, 23, 0.17) 74.79%);
    opacity: 0.79;
}

#imagemNoticia3Topico {
    display: flex;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 5%;
    margin-top: 8%;
}

#imagemNoticia3Titulo {
    display: flex;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    font-size: 1.8vmax;
    font-weight: 700;
    margin-top: 31%;
    margin-left: 5%;
}


/* NOTICIA SELECIONADA */

#imagemNoticiaSelecionadaGradiente {
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(171.66deg, rgba(252, 152, 2, 0.541) 22.24%, rgba(0, 0, 0, 0.219) 59.19%);

}

.noticiaSelecionada {
    display: flex;
    width: 100%;
    position: relative;
    z-index: -2;
    height: 65%;
    margin-top: 5%;
    border-radius: 10px;
    background-size: cover;
    background-position: 30% 20%;
    background-image: url(./assets/8879118.webp);
}

.inicioNoticia {
    display: flex;
    margin-left: 5%;
    width: 90%;
    height: 35%;
    flex-direction: column;
}

#tituloNoticia {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3vmax;
    line-height: 49px;
    color: black;
    margin-top: 3%;

}

#subtituloNoticia {
    display: flex;
    color: black;
    margin-top: 1%;
    font-weight: 300;
    font-size: 1.3vmax;
    font-family: 'Open Sans', sans-serif;
}

#creditosNoticia {
    display: flex;
    color: black;
    margin-top: 3%;
    font-weight: bold;
    font-size: 1.3vmax;
    font-family: 'Open Sans', sans-serif;
}

#creditosNoticia2 {
    display: flex;
    color: black;
    font-weight: 300;
    font-size: 1.3vmax;
    margin-left: 1%;
    font-family: 'Open Sans', sans-serif;
}

.corpoNoticia {
    display: flex;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    flex-direction: column;
}

#paragrafo1 {
    display: flex;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vmax;
    margin-top: 2%;
}

#paragrafo2 {
    display: flex;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vmax;
    margin-top: 2%;
}

#paragrafo3 {
    display: flex;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vmax;
    margin-top: 2%;
}

.footer {
    display: flex;
    position: absolute;
    width: 100%;
    margin-left: -5%;
    z-index: -1;
    height: 8vh;
    background-color: #493B33;
    justify-content: center;
    align-items: center;
}

#footerTexto {
    display: flex;
    color: white;
    font-family: 'Space Grotesk';
    font-size: 0.9vmax;
    text-align: center;
}